<div class="container">
  <div class="top">
    <h1 col-12>VUTTR</h1>
    <h3 col-12>Very Useful Tools to Remember</h3>
    
    <div row-wrap col-12>

      <!-- Pesquisa -->
      <mat-form-field col-4>
        <mat-icon matPrefix>search</mat-icon>
        <input 
        matInput 
        id="search"
        [formControl]="controlSearch"
        placeholder="Search">
      </mat-form-field>
      
      <!-- Pesquisar somente em tags -->
      <mat-checkbox col-6>search in tags only</mat-checkbox>
      
      <!-- Adicionar ferramenta -->
      <div col-2 align="end">
        <button 
          mat-raised-button
          class="btn-search" 
          (click)="addTool()">
            <mat-icon matPrefix>add</mat-icon>
            Add
        </button>
      </div>
    </div>

  </div>

  <!-- Lista de ferramentas -->
  <div>
    <div class="item" *ngFor="let tool of tools">
      <div row-wrap>
        <a class="title" [href]="tool.link">{{tool.title}}</a>
        <button class="btn-remove" mat-button (click)="remove(tool.id)">remove</button>
      </div>
      <p mat-line> {{tool.description}} </p>
      <p mat-line class="tag">
        <a *ngFor="let tag of tool.tags"> #{{tag}} </a>
      </p>
    </div>
  </div>
</div>