$grid-columns:      12;
$element-margin:    8px;

[row-wrap] {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
  }
  

@for $i from 1 through $grid-columns {
    [col-#{$i}], .col-#{$i} {
        margin-right: $element-margin;
        margin-left: $element-margin;
        width: calc(#{$i * (100% / $grid-columns)} - #{$element-margin * 2}) !important;
    }
}